$main-body-color: #84A178;
$second-body-color: #F8D24E;
$main-text-color: #FCFCFC;
$second-text-color: #131313;
$button-color: #F8D24E;
$button-hover-color: #0A8817;
$button-disable-color: #ABABAB;
$pagination-bullet-bgcolor: #D9D9D9;
$pagination-bullet-bgcolor-active: #84A178;