<section class="section-advantages">
  <div class="container-advantages">
    <h2 class="section__title visually-hidden">Our advantages</h2>
    <ul class="advantages list">
      <li class="advantages__item">
        <div class="advantages__item--background-color">
          <svg class="advantages__icon" height="50" width="50">
            <use href=".//images/icons.svg#advantages-cow"></use>
          </svg>
        </div>
        <h3 class="advantages__title">721</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <div class="advantages__item--background-color">
          <svg class="advantages__icon" height="50" width="50">
            <use href=".//images/icons.svg#advantages-weight"></use>
          </svg>
        </div>
        <h3 class="advantages__title">16kg</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <div class="advantages__item--background-color">
          <svg class="advantages__icon" height="50" width="50">
            <use href=".//images/icons.svg#advantages-ice-crema"></use>
          </svg>
        </div>
        <h3 class="advantages__title">84</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
