<section class="contacts">
    <div class="container contacts__container">
        <div class="contacts__wrap">
            <h2 id="contacts" class="visually-hidden">Contacts</h2>
            <ul class="contacts__box list">
                <li class="contacts__card">
                    <p class="contacts__title">CAFE</p>
                    <address class="contacts__list">
                        <ul class="contacts__item list">
                            <li class="contacts__address">
                                <p class="contacts__address-city">Chicago</p>
                            </li>
                            <li class="contacts__address">
                                <a href="" class="contacts__address-link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                            </li>
                        </ul>
                        <ul class="contacts__item list">
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-days">Monday - Friday</p>
                            </li>
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-days">Saturday - Sunday</p>
                            </li>
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <ul class="contacts__item list">
                            <li class="contacts__contacts">
                                <a class="contacts__contacts-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts__contacts">
                                <a class="contacts__contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </li>
                <li class="contacts__card">
                    <p class="contacts__title contacts__title--width">FOODTRUCK</p>
                    <address class="contacts__list">
                        <ul class="contacts__item list">
                            <li class="contacts__address">
                                <p class="contacts__address-city">Los Angeles</p>
                            </li>
                            <li class="contacts__address">
                                <a href="" class="contacts__address-link">1003 Manhattan Ave, Manhattan Beach, CA 90263,
                                    USA</a>
                            </li>
                        </ul>
                        <ul class="contacts__item list">
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-days">Monday - Friday</p>
                            </li>
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-days">Saturday - Sunday</p>
                            </li>
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <ul class="contacts__item list">
                            <li class="contacts__address">
                                <a class="contacts__contacts-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts__address">
                                <a class="contacts__contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </li>
                <li class="contacts__card">
                    <p class="contacts__title">CAFE</p>
                    <address class="contacts__list">
                        <ul class="contacts__item list">
                            <li class="contacts__address">
                                <p class="contacts__address-city">New York</p>
                            </li>
                            <li class="contacts__address">
                                <a href="" class="contacts__address-link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                            </li>
                        </ul>
                        <ul class="contacts__item list">
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-days">Monday - Friday</p>
                            </li>
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-days">Saturday - Sunday</p>
                            </li>
                            <li class="contacts__schedule">
                                <p class="contacts__schedule-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <ul class="contacts__item list">
                            <li class="contacts__address">
                                <a class="contacts__contacts-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="contacts__address">
                                <a class="contacts__contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </li>
            </ul>
            <ul class="contacts__button-list list">
                <li class="contacts__button-item">
                    <button class="contacts__button contacts__button--location" type="submit">Our Locations
                        <svg class="contacts__icon" width="12" height="12">
                            <use href="./images/icons.svg#icon-pointer"></use>
                        </svg>
                    </button>
                </li>
                <li class="contacts__button-item">
                    <button class="contacts__button contacts__button--franchise" type="submit">Franchise
                        <svg class="contacts__icon" width="12" height="12">
                            <use href="./images/icons.svg#icon-pointer"></use>
                        </svg>
                    </button>
                </li> 
            </ul>      
            
        </div>
    </div>
        
</section>