<section class="customer">
    <h2 class="visually-hidden">customer reviews</h2>
    <div class="customer__review swiper mySwiper container">
        <ul class="customer__list swiper-wrapper list">
            <li class="customer__item swiper-slide">
                <div class="customer__container">
                    <picture>
                        <source srcset="
                                        ./images/customer_reviews/reviews_customer1.jpg 1x,
                                        ./images/customer_reviews/reviews_customer1_2x.jpg 2x
                                        ">
                        <img src="./images/customer_reviews/reviews_customer1.jpg" alt="Emily">
                    </picture>
                    <div class="customer__text">I love visiting your cafe. You prepare the most delicious ice cream in
                        Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
                    </div>
                    <p class="customer__name">Emily, Los Angeles</p>
                </div>
            </li>

            <li class="customer__item swiper-slide">
                <div class="customer__container">
                    <picture>
                        <source srcset="
                    							./images/customer_reviews/reviews_customer2_sam.jpg 1x,
                    							./images/customer_reviews/reviews_customer2_sam_2x.jpg 2x
                    							">
                        <img src="./images/customer_reviews/reviews_customer2_sam.jpg" alt="Sam">
                    </picture>
                    <div class="customer__text">I love eating popsicles on a hot day. Yours is always delicious. I
                        recommend your cafe to everyone I know.
                    </div>
                    <p class="customer__name">Sam, Los Angeless</p>
                </div>
            </li>
            <li class="customer__item swiper-slide">
                <div class="customer__container">
                    <picture>
                        <source srcset="
                                        							./images/customer_reviews/reviews_customer3_diana.jpg 1x,
                                        							./images/customer_reviews/reviews_customer3_diana_2x.jpg 2x
                                        							">
                        <img src="./images/customer_reviews/reviews_customer3_diana.jpg" alt="Diana">
                    </picture>

                    <div class="customer__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And
                        I really like the excellent service - always served politely and quickly!
                    </div>
                    <p class="customer__name">Diana, Chicago</p>
                </div>
            </li>
            <li class="customer__item swiper-slide">
                <div class="customer__container">
                    <picture>
                        <source srcset="
                                        ./images/customer_reviews/reviews_customer4_bryan.jpg 1x,
                                        ./images/customer_reviews/reviews_customer4_bryan_2x.jpg 2x
                                        ">
                        <img src="./images/customer_reviews/reviews_customer4_bryan.jpg" alt="Bryan">
                    </picture>
                    <div class="customer__text">Every day we come to you with friends after classes in college. We love
                        your ice cream and casual atmosphere!
                    </div>
                    <p class="customer__name">Bryan, New-York</p>
                </div>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
    </div>
</section>