<!-- GALLERY -->
<section class="gallery">
    <div class="wrapper">
        <h2 class="gallery__title visually-hidden">gallery</h2>
        <div class="image-slider swiper-container container">
            <!-- Additional required wrapper -->
            <div class="image-slider__wrapper swiper-wrapper">
                <!-- Slides -->
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source
                            srcset="../src/images/gallery/desktop-ice-cream1.jpg 1x, ../src/images/gallery/desktop-ice-cream@2x.jpg 2x"
                            media="(min-width: 1200px)"
                            />         
                            <source
                            srcset="../src/images/gallery/tablet-ice-cream1.jpg 1x, ../src/images/gallery/tablet-ice-cream@2x.jpg 2x"
                            media="(min-width: 768px)"
                            />
                            <source
                            srcset="../src/images/gallery/mobile-ice-cream1.jpg 1x, ../src/images/gallery/mobile-ice-cream@2x.jpg 2x"
                            media="(max-width: 767px)"
                            />
                            <img src="../src/images/gallery/desktop-ice-cream1.jpg" alt="Slide 1" class="picture-img-gallery" />
                        </picture>
                    </div>
                </div>
            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <picture>
                        <source
                        srcset="../src/images/gallery/desktop-ice-cream2.jpg 1x, ../src/images/gallery/desktop-ice-cream2@2x.jpg 2x"
                        media="(min-width: 1200px)"
                        />         
                        <source
                        srcset="../src/images/gallery/tablet-ice-cream2.jpg 1x, ../src/images/gallery/tablet-ice-cream2@2x.jpg 2x"
                        media="(min-width: 768px)"
                        />
                        <source
                        srcset="../src/images/gallery/mobile-ice-cream2.jpg 1x, ../src/images/gallery/mobile-ice-cream2@2x.jpg 2x"
                        media="(max-width: 767px)"
                        />
                        <img src="../src/images/gallery/desktop-ice-cream2.jpg" alt="Slide 2" class="picture-img-gallery" />
                    </picture>
                </div>
            </div>
            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <picture>
                        <source
                        srcset="../src/images/gallery/desktop-ice-cream3.jpg 1x, ../src/images/gallery/desktop-ice-cream3@2x.jpg 2x"
                        media="(min-width: 1200px)"
                        />         
                        <source
                        srcset="../src/images/gallery/tablet-ice-cream3.jpg 1x, ../src/images/gallery/tablet-ice-cream3@2x.jpg 2x"
                        media="(min-width: 768px)"
                        />
                        <source
                        srcset="../src/images/gallery/mobile-ice-cream3.jpg 1x, ../src/images/gallery/mobile-ice-cream3@2x.jpg 2x"
                        media="(max-width: 767px)"
                        />
                        <img src="../src/images/gallery/desktop-ice-cream3.jpg" alt="Slide 3" class="picture-img-gallery" />
                    </picture>
                </div>
            </div>
        </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>
</section>
