<section class="section hero">
  <div class="container hero-container">
    
    <div class="main-information">
      <h1 id="home" class="hero__title">ice cream made with <span class="hero__title--span">passion</span></h1>

      <ul class="hero-btn list">
        <li class="hero-btn__item">
          <a href="#products_section" class="hero-btn__link hero-btn__link--like-btn"
            >Products</a
          >
        </li>
        <li class="hero-btn__item">
          <a href="#about" class="hero-btn__link hero-btn__link--like-link"
            >How it’s made?</a
          >
        </li>
      </ul>

      <div class="excerption-container">
        <div class="excerption-img">
          <picture>
            <source
              srcset="./images/hero/img-many-ice-cream-desk.png 1x, ./images/hero/img-many-ice-cream-desk-2x.png 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/hero/img-many-ice-cream-tab.png 1x, ./images/hero/img-many-ice-cream-tab-2x.png 2x"
              media="(min-width:768px)"
            />
            <img
              class="excerption-img__many-ice-cream"
              src="./images/hero/img-many-ice-cream-desk.png"
              alt="ice cream"
            />
          </picture>
        </div>

        <div class="excerption">
          <p class="excerption__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            <span class="excerption__under-text">
              <svg class="excerption__icon" width="40px" height="16px">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </span>
          </p>
        </div>
      </div>
    </div>

    <ul class="cafes list">
      <li class="cafes__item">
        <p class="cafes__text cafes__item--number">16</p>
        <p class="cafes__text cafes__item--type">cafes</p>
      </li>
      <li class="cafes__item">
        <p class="cafes__text cafes__item--number">23</p>
        <p class="cafes__text cafes__item--type">food trucks</p>
      </li>
    </ul>

    <picture class="img-points">
      <source class="img-points__desk"
        srcset="./images/hero/points-desk-1x.png 1x, ./images/hero/points-desk-2x.png 2x"
        media="(min-width:1200px)"
      />
      <source class="img-points__tab"
        srcset="./images/hero/points-tab-1x.png 1x, ./images/hero/points-tab-2x.png 2x"
        media="(min-width:768px)"
      />
      <source class="img-points__mob"
        srcset="./images/hero/points-mob-1x.png 1x, ./images/hero/points-mob-2x.png 2x"
        media="(max-width:767px)"
      />
      <img
        class="img-points__img img-points__img--hero-points"
        src="./images/hero/points-mob-1x.png"
        alt="ice cream"
      />
    </picture>

    <picture class="img-ice-cream">
      <source
        srcset="./images/hero/icecream-desk-1x.png 1x, ./images/hero/icecream-desk-2x.png 2x"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/hero/icecream-tab-1x.png 1x, ./images/hero/icecream-tab-2x.png 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="./images/hero/icecream-mob-1x.png 1x, ./images/hero/icecream-mob-2x.png 2x"
        media="(max-width:767px)"
      />
      <img
        class="img-ice-cream__img img-ice-cream__img--hero-points"
        src="./images/hero/icecream-mob-1x.png"
        alt="ice cream"
      />
    </picture>


  </div>
</section>
