<section class="products" id="products_section">
    <div class="container">
        <p class="products__label">100% Natural</p>
        <h2 class="products__title">Products</h2>
        <ul class="products__list list">
            <li class="products__item item-one">
                <h3 class="products__name">Ice Cream</h3>
                <p class="products__description">
                    Soft ice cream with a delicate taste. Made with milk, cream, sugar
                    and natural stabilizer
                </p>
                <button type="button" class="products__btn">
                    <svg class="products__icon" width="40">
                        <use href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item item-two">
                <h3 class="products__name">Ice Coffee</h3>
                <p class="products__description">
                    Fragrant invigorating drink created from 100% natural ingredients
                    without the use of preservatives and flavor enhancers
                </p>
                <button type="button" class="products__btn">
                    <svg class="products__icon" width="40">
                        <use href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item item-three">
                <h3 class="products__name">Milkshakes</h3>
                <p class="products__description">
                    Sweet drinks based on milk and ice cream, supplemented with
                    syrups, fruits, berries and other sweets of your choice
                </p>
                <button type="button" class="products__btn">
                    <svg class="products__icon" width="40">
                        <use href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>