.hero {
  background-color: $main-body-color;
  padding-top: 110px;

  /* outline: 2px solid rgb(179, 0, 255); */
  /* padding-bottom: 239px; */
  &>img {
    width: 100%;
    height: 100%;
  }

  @include tablet {
    padding-top: 72px;
    /* padding-bottom: 13px; */

  }

  @include desktop {
    padding-top: 74px;
    /* padding-bottom: 65px; */
  }
}

.hero-container {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid rgb(0, 255, 76); */
  padding-bottom: 239px;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    padding-bottom: 13px;
    padding-top: 22px;
  }

  @include desktop {
    width: 1200px;
    padding-bottom: 65px;
    padding-top: 44px;
  }
}

.main-information {
  // z-index: 2;

  @include tablet {
    padding-top: 10px;
    /* padding-bottom: 13px; */
  }

  @include desktop {
    padding-top: 0px;
    /* padding-bottom: 65px; */
  }
}

.hero__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-text-color;
  width: 247px;
  margin-bottom: 32px;


  @include tablet {
    width: 182.48px;
    font-size: 18px;
    line-height: calc(23 / 18);
    margin-bottom: 20px;
  }

  @include desktop {
    width: 367px;
    font-size: 38px;
    line-height: calc(48 / 38);
    margin-bottom: 28px;
  }

  &--span {
    font-size: 34px;
    line-height: calc(33 / 34);

    @include tablet {
      font-size: 24px;
      line-height: calc(13 / 24);
    }

    @include desktop {
      font-size: 38px;
      line-height: calc(48 / 38);
    }
  }
}

.hero-btn {
  display: flex;
  gap: 8px;

  @include desktop {
    gap: 12px;
  }

  &__item {
    width: 62px;
    height: 24px;
    z-index: 1;
    @include desktop {
      width: 134px;
      height: 42px;
    }

    &:last-child {
      width: 82.8px;
      height: 24px;

      @include desktop {
        width: 154px;
        height: 40px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    width: 100%;
    height: 100%;
  }

  &__link--like-btn {
    font-weight: 600;
    font-size: 8px;
    line-height: calc(10 / 8);
    color: #131313;
    border: 2px solid $button-color;
    border-radius: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @include desktop {
      font-size: 14px;
      line-height: calc(18 / 14);

      &:hover {
        border-color: $button-hover-color;
      }

      &:focus {
        border-color: $button-hover-color;
        color: $main-text-color;
      }

      &:disabled {
        border-color: $button-disable-color;
      }
    }
  }

  &__link--like-link {
    font-weight: 600;
    font-size: 8px;
    line-height: calc(10 / 8);
    text-decoration-line: underline;
    color: $button-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @include desktop {
      font-size: 14px;
      line-height: calc(17 / 14);

      &:hover {
        color: $button-hover-color;
      }

      &:focus {
        color: $main-text-color;
      }

      &:disabled {
        color: $button-disable-color;
      }
    }
  }
}

.cafes {
  display: none;
  // z-index: 2;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item--number {
      font-weight: 900;
      font-size: 28px;
      line-height: calc(34 / 28);
      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $second-text-color;
      margin-bottom: 4px;
    }

    &__item--type {
      font-weight: 400;
      font-size: 8px;
      line-height: calc(10 / 8);
      text-align: right;
      color: $main-text-color;
    }

  }

  @include desktop {
    padding-top: 8px;

    &__item--number {
      font-size: 46px;
      line-height: calc(56 / 46);
    }

    &__item--type {
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }
}


.excerption-container {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    margin-top: 28px;
    /* padding-bottom: 13px; */
  }

  @include desktop {
    align-items: center;
    /* padding-bottom: 46px;
    padding-top: 46px; */
    margin-top: 42px;
  }
}

.excerption-img {
  width: 152px;
  height: 152px;
  animation-name: appearance-many-icecreams;
  animation-duration: 1s;
  animation-timing-function: linear;

  @include desktop {
    width: 225px;
    height: 225px;
  }

  &__many-ice-cream {
    display: none;
    width: 125px;
    height: 125px;
    @include tablet {
      display: block;
    }
    @include desktop {
      width: 225px;
      height: 225px;
    }
  }
}

.excerption {
  margin-left: 33px;

  @include desktop {
    /* padding-top: 67px; */
    margin-left: 14px;
  }

  &__text {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);
    color: $main-text-color;
    width: 151px;

    @include desktop {
      width: 200px;
      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }

  &__under-text {
    position: absolute;
    left: 0;
    bottom: -28px;

    @include desktop {
      bottom: -40px;
    }
  }
}
/* __________________________________________________ */

.img-points {
  position: absolute;
  width: 100%;
  min-width: 320px;
  bottom: -2px;
  left: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: appearance-points;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.1, -.6, .2, 0);

  /* left: 50%;
  transform: translate(-50%, 0); */

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    width: 768px;
    max-width: 768px;
  }

  @include desktop {
    width: 1200px;
    max-width: 1200px;
  }
  &__img {
    width: 100%;
    z-index: -1;
  }
}

.img-ice-cream {
  position: absolute;
  width: 100%;
  max-width: 276px;
  bottom: -4px;
  left: 50%;
  transform: translate(-45%, 0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* animation: appearance-icecream 2s cubic-bezier(.66,.03,1,.1); */
  animation: appearance-icecream-mob 2s cubic-bezier(.3, 0, 1, .99);
  &__img {
    z-index: -1;
  }

  @include mobile {
    max-width: 300px;
    // left: 45%;
    transform: translate(-45%, 0);
  }

  @include tablet {
    /* width: %; */
    max-width: 379px;
    left: 47%;
    transform: translate(0, 0);
    z-index: 1;
  }

  @include desktop {
    /* width: 55%; */
    max-width: 642px;
    left: 47%;
  }
}
