.products {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 480px;
  background-image: linear-gradient(rgba(245, 245, 245, 0.1),
    rgba(245, 245, 245, 0.1)),
    url(../images/products/products-background-mob-1px.png);
  @include tablet {
    padding-bottom: 80px;
    max-width: 768px;
  }
  @include desktop {
    padding-bottom: 66px;
    max-width: 1200px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(245, 245, 245, 0.1),
        rgba(245, 245, 245, 0.1)
      ),
      url(../images/products/products-background-mob-2px.png);
  }

  @include tablet {
    width: 100%;
    background-image: linear-gradient(
        rgba(245, 245, 245, 0.1),
        rgba(245, 245, 245, 0.1)
      ),
      url(../images/products/products-background-tab-1px.png);
      background-size: 768px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(245, 245, 245, 0.1),
          rgba(245, 245, 245, 0.1)
        ),
        url(../images/products/products-background-tab-2px.png);
    }
  }

  @include desktop {
    max-width: 1200px;
    background-image: linear-gradient(
        rgba(245, 245, 245, 0.1),
        rgba(245, 245, 245, 0.1)
      ),
      url(../images/products/products-background-dt-1px.png);
      background-size: 1200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(245, 245, 245, 0.1),
          rgba(245, 245, 245, 0.1)
        ),
        url(../images/products/products-background-dt-2px.png);
    }
  }
}

.products__label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;
  margin-top: 0;
  @include mobile {
    font-size: 22px;
  }
  @include desktop {
    font-size: 30px;
    line-height: 1.23;
  }
}

.products__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 148px;
  margin-top: 0;

  @include mobile {
    font-size: 30px;
  }
  @include tablet {
    font-size: 34px;
    margin-bottom: 200px;
  }
  @include desktop {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 303px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 155px;
  align-items: center;
  justify-content: center;
  padding-left: 0;
//   @media screen and (min-width: 768px) {
//     display: flex;
// // <<<<<<< HEAD
// //     flex-direction: wrap;
// //     flex-direction: row;
// //     gap: 16px;
// //   }
// // =======
//     flex-wrap: wrap;
//     flex-direction: column;
//     gap: 164px;
//     align-items: center;
//     justify-content: center;
//     padding-left: 0;
    @include tablet {
        display: flex;
        flex-direction: wrap;
        flex-direction: row;
        gap: 16px;
    }
  }

.products__item {
  position: relative;
  width: 250px;
  height: 420px;
  border-radius: 24px;
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  @include mobile {
    width: 280px;
    height: 420px;
    border-radius: 24px;
  }
  @include tablet {
    width: calc((100% - 32px) / 3);
    height: auto;
    // padding-top: 115px;
    // padding-left: 26px;
    // padding-right: 26px;
  }
  @include desktop {
    width: calc((100% - 64px) / 3);
    height: auto;
    padding-top: 145px;
    padding-left: 64px;
    padding-right: 63px;
  }
//
//     padding-top: 123px;
//     padding-left: 40px;
//     padding-right: 40px;
//     margin-right: auto;
//     margin-left: auto;

//     @media screen and (min-width:480px) {
//         width: 280px;
//         height: 420px;
//         border-radius: 24px;
//     }
//
}

.item-one {
  background-color: #84a178;

  &::before {
    content: '';
    width: 200px;
    height: 199px;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    background-image: url(../images/products/ice-cream-mob-1px.jpg);
    box-shadow: 0.5px 11.32px 0px rgba(156, 190, 143, 0.7);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -155%);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-mob-2px.jpg);
      box-shadow: 0.5px 11.32px 0px rgba(156, 190, 143, 0.7);
    }
    background-size: cover;
    @include tablet {
      background-image: url(../images/products/ice-cream-tab-1px.jpg);
      box-shadow: 0.5px 11.15px 0px rgba(156, 190, 143, 0.7);
      left: 50%;
        top: 50%;
        transform: translate(-50%, -160%);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream-tab-2px.jpg);
        box-shadow: 0.5px 11.15px 0px rgba(156, 190, 143, 0.7);
      }
    }
    @include desktop {
      width: 301px;
      height: 300px;
      background-image: url(../images/products/ice-cream-dt-1px.jpg);
      box-shadow: 0.5px 17.02px 0px rgba(156, 190, 143, 0.7);
      left: 50%;
        top: 50%;
        transform: translate(-50%, -155%);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream-dt-2px.jpg);
        box-shadow: 0.5px 17.02px 0px rgba(156, 190, 143, 0.7);
      }
    }
  }
}

.item-two {
  background-color: #efd478;

  &::before {
    content: '';
    width: 200px;
    height: 199px;
    background: linear-gradient(
        0deg,
        rgba(230, 194, 65, 0.7),
        rgba(230, 194, 65, 0.7)
      ),
      #d9d9d9;
    // box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    background-image: url(../images/products/ice-coffee-mob-1px.jpg);
    box-shadow: 0.5px 11.32px 0px rgb(222 182 46 / 70%);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -155%);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee-mob-2px.jpg);
      box-shadow: 0.5px 11.32px 0px rgb(228 190 56 / 70%);
    }
    background-size: cover;
    @include tablet {
      width: 200px;
      height: 197px;
      background-image: url(../images/products/ice-coffee-tab-1px.jpg);
      box-shadow: 0.5px 11.15px 0px rgb(222 182 46 / 70%);
      left: 50%;
        top: 50%;
        transform: translate(-50%, -160%);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cofee-tab-2px.jpg);
        box-shadow: 0.5px 11.15px 0px rgb(222 182 46 / 70%);
      }
    }
    @include desktop {
      width: 301px;
      height: 300px;
      background-image: url(../images/products/ice-coffee-dt-1px.jpg);
      box-shadow: 0.5px 17.02px 0px rgb(222 182 46 / 70%);
      left: 50%;
        top: 50%;
        transform: translate(-50%, -155%);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-coffee-dt-2px.jpg);
        box-shadow: 0.5px 11.15px 0px rgb(222 182 46 / 70%);
      }
    }
  }
}

.item-three {
  background-color: #d6936d;

  &::before {
    content: '';
    width: 200px;
    height: 199px;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    background-image: url(../images/products/milkshakes-mob-1px.jpg);
    box-shadow: 0.5px 11.32px 0px rgba(213, 117, 63, 0.7);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -155%);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshakes-mob-2px.jpg);
      box-shadow: 0.5px 11.32px 0px rgba(213, 117, 63, 0.7);
    }
    background-size: cover;
    @include tablet {
      background-image: url(../images/products/milkshakes-tab-1px.jpg);
      box-shadow: 0.5px 10.53px 0px rgba(213, 117, 63, 0.7);
      left: 50%;
        top: 50%;
        transform: translate(-50%, -160%);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/milkshakes-tab-2px.jpg);
        box-shadow: 0.5px 10.53px 0px rgba(213, 117, 63, 0.7);
      }
    }
    @include desktop {
      width: 301px;
      height: 300px;
      background-image: url(../images/products/milkshakes-dt-1px.jpg);
      box-shadow: 0.5px 16.02px 0px rgba(213, 117, 63, 0.7);
left: 50%;
  top: 50%;
  transform: translate(-50%, -155%);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/milkshakes-dt-2px.jpg);
        box-shadow: 0.5px 16.02px 0px rgba(213, 117, 63, 0.7);
      }
    }
  }
}

.products__name {
  margin-bottom: 40px;
  margin-top: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
    // padding-top: 123px;
    // margin-bottom: 40px;
    // margin-top: 0;

  @include mobile {
    font-size: 20px;
    line-height: 1.2;
  }
  @include tablet {
    font-size: 22px;
    // padding-top: 115px;
    line-height: 1.22;
  }
  @include desktop {
    font-size: 30px;
    line-height: 1.23;
    // padding-top: 145px;
    margin-bottom: 65px;
  }
}

.products__description {
  width: 175px;
  height: 124px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.78;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  margin-top: 0;
  margin-bottom: 70px;
  @include mobile {
    width: 200px;
    height: 124px;
  }
  @include tablet {
    width: 148px;
    margin-bottom: 90px;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.75;
    width: auto;
  }
}

.products__btn {
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  // margin-bottom: 20px;
  // margin-top: 90px;
  padding: 0;
  @include desktop {
    cursor: inherit;
  }
}

.products__icon {
  display: block;
  width: 40px;
  height: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.15);
    }
  &:focus {
    transform: scale(1.35);
    }
}